@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 136 30% 100%;
    --foreground: 136 75% 2%;
    --muted: 136 9% 95%;
    --muted-foreground: 136 15% 27%;
    --popover: 136 30% 100%;
    --popover-foreground: 136 75% 2%;
    --card: 136 30% 100%;
    --card-foreground: 136 75% 2%;
    --border: 136 14% 92%;
    --input: 136 14% 92%;
    --primary: 136 79% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 136 11% 81%;
    --secondary-foreground: 136 11% 21%;
    --accent: 136 18% 75%;
    --accent-foreground: 136 18% 15%;
    --destructive: 7 84% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 136 79% 25%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 136 41% 1%;
    --foreground: 136 27% 98%;
    --muted: 136 9% 5%;
    --muted-foreground: 136 15% 73%;
    --popover: 136 41% 1%;
    --popover-foreground: 136 27% 98%;
    --card: 136 41% 1%;
    --card-foreground: 136 27% 98%;
    --border: 136 14% 12%;
    --input: 136 14% 12%;
    --primary: 136 79% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 136 4% 8%;
    --secondary-foreground: 136 4% 68%;
    --accent: 136 10% 17%;
    --accent-foreground: 136 10% 77%;
    --destructive: 7 84% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 136 79% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
